* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.div-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.div-main > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  padding: 100px 0;
  flex-grow: 1;
  text-align: center;
  background-color: #c8cbce;
}

.welcome-heading {
  font-size: 36px;
  color: #343a40;
}

.welcome-message {
  font-size: 18px;
  color: #6c757d;
}

/*history page*/
.History-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.History-text {
  display: flex;
  padding: 50px 40px;
  margin: auto;
  background-color: #ebebeb; /* Kolorem brzoskwiniowym, aby pasował do tła karuzeli */
  color: #3a3a3a; /* Fioletowy odcień, aby kontrastował z tłem tekstu */
}
.carousel {
  display: flex;
  height: 50%;
  flex-grow: 1;
}
.div-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.image {
  padding-top: 2%;
  width: 30%;
  height: 30%;
}
.carousel-caption {
  color: white !important;
}
/*cargenerator css*/
.counter-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: blue;
}
.randomP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  width: 22%;
  height: 5%;
  background-color: rebeccapurple;
}
.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 22%;
  height: 50%;
  background-color: #ffd700;
  color: rgb(77, 69, 69);
  font-size: 1.8rem;
}
.positionP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.nationalityP {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.nameP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.stats1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.stats2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.stats3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.stats4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.stats5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.stats6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
